

<div class="container">
    <div class="outset">
        <h1 style="font-weight: bold; text-align: center;
            margin-top: 10px;">MODULES</h1>
        <div class="card-content">
        
            <mat-card>
                <mat-card-title>INFORMATIQUE INDUSTRIELLE</mat-card-title>
                <mat-card-subtitle>Progression : 60%</mat-card-subtitle>
                <mat-card-actions align="end">
                <button mat-raised-button color="accent" [routerLink]="'/description'">DESCRIPTION</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>POO</mat-card-title>
                <mat-card-subtitle>Progression : 100%</mat-card-subtitle>
                <mat-card-actions align="end">
                <button mat-raised-button color="accent">DESCRIPTION</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>JEE</mat-card-title>
                <mat-card-subtitle>Progression : 0%</mat-card-subtitle>
                <mat-card-actions align="end">
                <button mat-raised-button color="accent">DESCRIPTION</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>MACHINE LEARNING</mat-card-title>
                <mat-card-subtitle>Progression : 0%</mat-card-subtitle>
                <mat-card-actions align="end">
                <button mat-raised-button color="accent">DESCRIPTION</button>
                </mat-card-actions>
            </mat-card>
            
        </div>

</div>
</div>