<h1 style="font-weight: bold; text-align: center;">FILIERES</h1>
<br>
<div class="container">
 
    <mat-card class="description-card">
        <mat-tab-group>
            <mat-tab label="FSI"> 
                <mat-list role="list">
                    <mat-list-item role="listitem">Génie Informatique</mat-list-item>
                    <mat-list-item role="listitem">Génie Civil</mat-list-item>
                    <mat-list-item role="listitem">Génie Systèmes Embarqués</mat-list-item>
                    <mat-list-item role="listitem">Génie Energies Renouvelables</mat-list-item>
                </mat-list>
             </mat-tab>
            <mat-tab label="FBS"> 
                <mat-list role="list">
                    <mat-list-item role="listitem">Comptabilité Contrôle & Audit</mat-list-item>
                    <mat-list-item role="listitem">Management Des Ressources Humaines</mat-list-item>
                    <mat-list-item role="listitem">Supply Chain Management</mat-list-item>
                </mat-list> 
            </mat-tab>
            <mat-tab label="Architecture et Bâtiments"> 
                <mat-list role="list">
                    <mat-list-item role="listitem">Design & Architecture D'intérieur</mat-list-item>
                    <mat-list-item role="listitem">Architecture Du Paysage</mat-list-item>
                    <mat-list-item role="listitem">Urbanisme & Aménagement</mat-list-item>
                </mat-list> 
            </mat-tab>
            <mat-tab label="Prépas ecs-ect">
                <mat-list role="list">
                    <mat-list-item role="listitem">ECS</mat-list-item>
                    <mat-list-item role="listitem">ECT</mat-list-item>
                </mat-list> 
            </mat-tab>
        </mat-tab-group>

        <mat-card-actions align="end">
            <button mat-raised-button color="primary" [routerLink]="'/admin/home'" >CLOSE</button>
        </mat-card-actions>
        
    </mat-card>
</div>
    


