mat-card-title{
    text-align: center;
}

mat-card-subtitle{
    text-align: center;
}

mat-card{
    width: 400px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center; 
    margin: 100px;
 }
.form-container {
    display: flex;
    align-items: center;
    margin-left: 100px;
}
 