<div class="container">
    <div class="outset">
        <h1 style="font-weight: bold; text-align: center;
            margin-top: 10px;">Nouveau Professeur :</h1>
            <br>
            <div class="form-container">
                <form action="" id="form">        
                    <label for="seance">Département :</label>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Département</mat-label>
                        <mat-select>
                        <mat-option value="one">FSI</mat-option>
                        <mat-option value="two">FBS</mat-option>
                        <mat-option value="one">Architecture et Bâtiments</mat-option>
                        <mat-option value="two">Prépas ecs-ect</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <br>
                    <label for="seance">Filière :</label>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Filière</mat-label>
                        <mat-select>
                        <mat-option value="one">Génie Informatique</mat-option>
                        <mat-option value="two">Génie Civil</mat-option>
                        <mat-option value="one">Génie Systèmes embarqués</mat-option>
                        <mat-option value="two">Génie Energies renouvelables</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <br>
                    <label for="seance">Niveau :</label>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Niveau</mat-label>
                        <mat-select>
                        <mat-option value="one">5ème Année</mat-option>
                        <mat-option value="two">4ème Année</mat-option>
                        <mat-option value="one">3ème Année</mat-option>
                        <mat-option value="two">2ème Année</mat-option>
                        <mat-option value="one">1ère Année</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <br>
                    <label for="seance">Module :</label>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Module</mat-label>
                        <mat-select>
                        <mat-option value="one">ERP</mat-option>
                        <mat-option value="two">BI</mat-option>
                        <mat-option value="one">Technologies Oracle</mat-option>
                        <mat-option value="two">MDA</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <br>
                    <label for="description">Nom Prof :</label>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Nom</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <br>
                    <label for="description">Prénom Prof :</label>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Prénom</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                </form>
                
            </div>
            <div class="buttons">
                <button mat-raised-button color="basic" [routerLink]="'/admin/home'">
                    Annuler</button>
                <button type="submit" form="form" mat-raised-button color="primary">
                    Ajouter</button>
            </div>
             
    </div>         
</div>         