

<div class="container">
    <div class="outset">
        <h1 style="font-weight: bold; text-align: center;
            margin-top: 10px;">ACCEUIL</h1>
        <div class="card-content">
        
            <mat-card>
                <mat-card-title>PROFESSEURS</mat-card-title>
                <mat-card-subtitle>3</mat-card-subtitle>
                <mat-card-actions align="start">
                    <button mat-mini-fab matTooltip="VIEW" color="primary" [routerLink]="'/admin/home'">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-mini-fab matTooltip="ADD" color="primary" [routerLink]="'/admin/addprof'">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>MODULES</mat-card-title>
                <mat-card-subtitle>5</mat-card-subtitle>
                <mat-card-actions align="start">
                    <button mat-mini-fab matTooltip="VIEW" color="primary" [routerLink]="'/admin/viewmodule'">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-mini-fab matTooltip="ADD" color="primary" [routerLink]="'/admin/addmodule'">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>FILIERES</mat-card-title>
                <mat-card-subtitle>3</mat-card-subtitle>
                <mat-card-actions align="start">
                    <button mat-mini-fab matTooltip="VIEW" color="primary" [routerLink]="'/admin/viewfiliere'">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-mini-fab matTooltip="ADD" color="primary" [routerLink]="'/admin/addfiliere'">
                        <mat-icon>add</mat-icon>
                    </button>    
                </mat-card-actions>
            </mat-card>
            
        </div>

</div>
</div>