
<div class="container">
    

    <div class="outset">
        <h1 style="font-weight: bold; text-align: center;
            margin-top: 10px;">NOTES COURS</h1>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Composante(s) du module </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
 
            <ng-container matColumnDef="cours">
              <th mat-header-cell *matHeaderCellDef> Cours </th>
              <td mat-cell *matCellDef="let element"> {{element.cours}} </td>
            </ng-container>
          

            <ng-container matColumnDef="td">
              <th mat-header-cell *matHeaderCellDef> TD </th>
              <td mat-cell *matCellDef="let element"> {{element.td}} </td>
            </ng-container>
          
        
            <ng-container matColumnDef="tp">
              <th mat-header-cell *matHeaderCellDef> TP </th>
              <td mat-cell *matCellDef="let element"> {{element.tp}} </td>
            </ng-container>

            <ng-container matColumnDef="eval">
                <th mat-header-cell *matHeaderCellDef> Evaluation des connaissances </th>
                <td mat-cell *matCellDef="let element"> {{element.eval}} </td>
            </ng-container>

            <ng-container matColumnDef="vhGlobal">
                <th mat-header-cell *matHeaderCellDef> VH global </th>
                <td mat-cell *matCellDef="let element"> {{element.vhGlobal}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

</div>
